.floating {
  animation: floating 3s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  display: inline-block;
  transform: translateY(0px);
  will-change: transform;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}